.updateCoumponContainer {
    width: 40%;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.updateCoumponContainer h1 {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}

.inputFormContainer {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     justify-content: end;
     justify-content: space-between;
     justify-content: space-around;
     background-color: rgb(246, 247, 247);
}

.inputContainer {
    text-align: right;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.selectInput{
    margin-top: 0;
}

.textarea {
    border: 1px solid black;
    text-align: right;
    margin-top: 10px;
}

.inputContainer select {
    font-size: 0.9rem;
    padding: 9px 8px;
    text-align: right;
    border: 1px solid black;
    width: 100%;
    margin-bottom: 15px;
    width: 170px;
}

.option {
    border-radius: 0;
}

.inputContainerDate {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-bottom: 2px;

}

.updateBtnContainer {
    display: flex;
    justify-content: center;
    align-self: center;
    justify-self: center;
    width: 97%;
    margin-top: 20px;
    padding: 5px 10px;
}

@media (max-width: 480px) {
    .updateCoumponContainer {
        width: 95%;
        padding: 10px;
    }

    .updateCoumponContainer h1 {
        font-size: 18px;
    }

    .inputFormContainer {
        flex-direction: column;
        padding: 10px;
    }

    .inputContainer select {
        width: 100%;
        font-size: 0.8rem;
    }

    .textarea {
        font-size: 0.8rem;
        padding: 6px;
    }

    .updateBtnContainer {
        width: 100%;
        font-size: 14px;
    }
}