.addCoumponContainer {
    width: 30%;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: auto;
    width: 50%;
    padding: 10px;
}

.addCoumponContainer h1 {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.inputAddFormContainer {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     justify-content: end;
     justify-content: space-between;
     justify-content: space-around;
     padding: 50px;
}

.inputAddContainer {
    text-align: right;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.selectAddCouponInput {
    margin-top: 0;
}

.textarea {
    border: 1px solid black;
    text-align: right;
    margin-top: 10px;
}

.inputContainer select {
    font-size: 0.9rem;
    padding: 9px 8px;
    text-align: right;
    border: 1px solid black;
    width: 100%;
    margin-bottom: 15px;
    width: 170px;
}

.option {
    border-radius: 0;
}

.AddCouponInputContainerDate {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-bottom: 2px;
    margin-top: 5px;

}

.addCouponBtnContainer {
    display: flex;
    justify-content: center;
    align-self: center;
    justify-self: center;
    width: 97%;
    margin-top: 0;
    padding: 5px 10px;
}
