.addUserContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.addUserForm {
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #fff;
}

.addUserInputContainer {
    display: flex;
    gap: 10px;
    text-align: right;
    flex-direction: column;
}

.addUserBtnContainer {
    margin-top: 20px;
}

@media (max-width: 768px) {
    .addUserForm {
        width: 70%;
        padding: 30px;
    }

    .addUserInputContainer {
        gap: 8px;
    }
}

@media (max-width: 480px) {
    .addUserForm {
        width: 90%;
        padding: 20px;
    }

    .addUserForm h1 {
        font-size: 20px;
    }

    .addUserInputContainer {
        gap: 5px;
    }

    .addUserBtnContainer {
        width: 100%;
    }
}
