.oneCoumponContainer{
  padding: 70px;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}

@media (max-width: 480px) {
  .oneCoumponContainer {
    padding: 10px;
    flex-direction: row;
    flex-wrap: wrap;
  }
}